@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(0 0 0 / 91%);
}
/* Shared style */
.bg-primary {
  color: rgb(230, 83, 60);
}
.text {
  text-align: left;
}
/* navbar */
.header {
  width: 80%;
  margin: 2rem auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.nav-title {
  font-size: 2.25rem;
  font-weight: bold;
  font-style: italic;
}
.navbar-items {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 0 10px;
  gap: 47px;
}
.navbar-items p {
  font-size: 1.2rem;
  color: white;
}
.diff {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  color: white;
  font-weight: 600;
  padding: 12px 24px;
  margin: 0;
}
.ham {
  display: none;
}
.ham i {
  color: white;
}

/* Banner section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.banner-text {
  max-width: 32.5rem;
}
.banner-text h2 {
  color: white;
  font-size: 4.8rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 28px;
}
.shape {
  font-style: italic;
  font-weight: 100;
  font-family: "Allura", cursive;
}
.banner-text p {
  color: rgba(255, 255, 255, 0.5);
  max-width: 32.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 28px;
}
.btn-2 {
  border: 1px solid rgb(255, 255, 255);
  background: none;
  border-radius: 46px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 16px 40px;
  cursor: pointer;
}
.back {
  background: rgb(230, 83, 60);
  border: none;
}
.banner-img {
  position: relative;
}
#badge1,
#badge2 {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  padding: 16px 24px;
}
#badge1 {
  position: absolute;
  width: 180px;
  height: 98px;
  left: 233px;
  top: 145px;
  background: rgba(255, 255, 255, 0.1);
}
#badge1 .head {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
}
#badge1 .body {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.85rem;
  font-weight: 400;
  text-align: left;
}
#badge2 {
  position: absolute;
  width: 206px;
  height: 96px;
  left: -110px;
  top: 415px;
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  align-items: center;
  gap: 8px;
}
.ellipse {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  align-content: center;
}
.ellipse i {
  color: white;
  size: 2px;
  display: none;
}
#badge2 h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
}
#badge2 p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
/* Why */
.why-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why-content i {
  color: rgb(230, 83, 60);
  height: 40px;
  width: 40px;
}
.why1,
.why2,
.why3,
.why4 {
  width: 15rem;
  height: 13rem;
  border: 1px solid rgba(228, 55, 55, 0.652);
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
  padding: 30px 20px 20px 20px;
}

/* Habit section */
.habit,
.team,
.why {
  width: 80%;
  margin: 2rem auto;
}
.habit-container {
  text-align: center;
  margin-bottom: 80px;
}
.habit-title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.habit-des {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 54px;
}
.habit-item-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.habit-item-content img {
  border-radius: 50%;
  margin-bottom: 30px;
}
.habit-item1,
.habit-item2,
.habit-item3,
.habit-item4 {
  max-width: 14.3rem;
}
.item-cap {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}
.item-des {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
}

/* Run section */
.run {
  width: 80%;
  margin: 2rem auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin-bottom: 80px;
}
.run-container {
  width: 90%;
  margin: 1.8rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.run-title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
}
.run-des {
  color: rgba(255, 255, 255, 0.5);
  max-width: 27rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 34px;
}
.run-img {
  overflow: hidden;
  border-radius: 18px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.run-img img {
  width: 320px;
  height: 250px;
  object-fit: cover;
  transform: scale(2.5);
  translate: -130px 28%;
}

/* BMI part */
.bmi-1 {
  max-width: 40rem;
  margin-left: 400px;
  margin-bottom: 80px;
}
.bmi-1 h2 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
}
.bmi-1 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
}
.bmi-2 {
  background: rgb(34, 34, 34);
  margin-bottom: 80px;
}
.bmi2-container {
  width: 80%;
  margin: auto;
  padding: 2rem 0 2rem 0;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bmi-table h2 {
  color: white;
  font-size: 1.75rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 50px;
}
.bmi-table table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 12px;
}
.bmi-table th {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
.bmi-table td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
}
.bmi-form h2 {
  color: white;
  font-size: 1.75rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
}
.bmi-form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  max-width: 36rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 34px;
}
.bmi-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}
.bmi-form form input[type="number"],
select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 12px 40px 12px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
#factor {
  grid-column: 1 / span 2;
}

/* Team section */
.team-content {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}
.team-item {
  position: relative;
}
.team-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.team-des1 {
  position: absolute;
  top: 320px;
  left: 10px;
}
.team-des2 {
  position: absolute;
  top: 320px;
  left: 10px;
}

/* Footer section */
.footer {
  background: rgba(255, 255, 255, 0.04);
}
.footer-container {
  width: 80%;
  margin: auto;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-col1 {
  max-width: 27rem;
}
.footer-col1 h2 {
  color: rgb(230, 83, 60);
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  text-align: left;
  margin-bottom: 20px;
}
.footer-col1 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
}
.foot-title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
}
.list {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}
.last {
  width: 80%;
  margin: 0 auto;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}
.last-des {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
}
/* Responsive */
@media screen and (max-width: 576px) {
  .navbar-items {
    display: none;
  }
  .ham {
    display: block;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .banner-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .btn-2 {
    font-size: 1rem;
    padding: 16px 20px;
  }
  #badge1 {
    left: 198.2px;
    top: 72.6px;
  }
  #badge2 {
    left: -21px;
    top: 240.38px;
  }
  .ellipse i {
    display: block;
  }
  .why-content {
    flex-direction: column;
    gap: 10px;
  }
  .habit-item-content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .run-container {
    flex-direction: column;
  }
  .bmi-1 {
    margin-left: 20px;
  }
  .bmi2-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 0;
    gap: 40px;
  }
  .bmi-form {
    max-width: 22rem;
  }
  .bmi-form p {
    max-width: 20rem;
  }
  .bmi-form form input[type="number"],
  select {
    width: 100%;
  }
  .team-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .mob {
    display: none;
  }
  .team-des1,
  .team-des2 {
    top: 200px;
  }
  .footer-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
